/* Principais Funcionalidades */
.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro-text {
    flex: 1;
}
.intro-image {
    flex: 1;
    text-align: center;
    width: 700px;
}
.small-image {
    max-width: 100%;
    height: auto;
}
.features-images{
    display: flex;
    justify-content: center;
}
.features-section {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.features-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #8b0000;
}

.features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-a {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    color: #8b0000;
}

.feature img {
    width: 60px;
    margin-bottom: 15px;
}

.feature p {
    font-size: 16px;
    line-height: 1.4;
}

/* Como Funciona o BikoJob */
.steps-section {
    padding: 40px 20px;
    text-align: center;
}

.steps-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #8b0000;
}

.steps-content {
    color: #8b0000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.step {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 250px;
    text-align: center;
    position: relative;
}

.step-number {
    font-size: 24px;
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
    line-height: 1.4;
}
