.banner {
  background-color: #8b0000;
  min-height: 300px; /* Altura mínima para o banner */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 750px; /* Garante a largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  box-sizing: border-box; /* Inclui padding/borda na largura */
  overflow: hidden; /* Impede elementos de ultrapassarem os limites */
  padding: 15px;
}


.banner-content {
  max-width: 100%; /* Garante que o conteúdo respeite os limites */
  display: block; /* Cada elemento ocupa uma linha */
  gap: 20px; /* Não necessário com display block, mas útil para espaçamento extra */
  justify-content: center; /* Sem efeito com display block */
  align-items: center; /* Sem efeito com display block */
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 25px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 5px;
}

  .banner-content a {
    text-decoration: none; /* Remove sublinhado do link */
  }
  .option {
    background-color: #ffffff; /* Cor inicial */
    color: rgb(105, 4, 4);
    padding: 80px 80px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    
    flex: 1; /* Divide o espaço igualmente entre os elementos */
    max-width: 150px;
    max-height: 20px; /* Limita o tamanho */
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
  }


  .intro-image img {
    max-width: 100%; /* Ajusta imagem ao tamanho do container */
    height: auto; /* Mantém proporção */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.main-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}