.features {
    display: flex;
    justify-content: space-around;
    
    background-color: #2e2e2e; /* Fundo do container */
}

.feature {
    text-align: center;
    width: 250px;
    background-color: #2e2e2e; /* Fundo do container */
    
}

.feature h3, .feature p {
    margin: 0; /* Remove margens externas */
    padding: 10px; /* Substitui margem por espaçamento interno */
    background-color: #2e2e2e; /* Preenche fundo com a cor */
    color: #fff; /* Contraste com o fundo */
     /* Opcional: bordas arredondadas */
}
