footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.social-icons a {
    margin: 0 10px;
    color: #f1f1f1;
    text-decoration: none;
}

.social-icons i {
    font-size: 20px;
}
