/* Configuração geral da página */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a página ocupe toda a altura da viewport */
  }
  
  /* Configuração do conteúdo principal */
  .content {
    flex: 1; /* Expande para preencher o espaço restante da página */
    display: flex;
    flex-direction: column; /* Alinha Banner e Features verticalmente */
  }
  
  /* Configuração do Banner */
  .content > :first-child {
    flex: 1; /* Faz o Banner preencher o espaço restante */
    background-color: #8b0000; /* Cor de exemplo para visualização */
  }
  
  /* Configuração do Features */
  .content > :last-child {
    flex: 0 0 200px; /* Altura fixa de 200px */
    background-color: #2e2e2e;; /* Cor de exemplo para visualização */
  }

  footer{
    margin-top: auto;
  }